@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

@font-face {
  font-family: "KALIVO";
  src: url("./assets/fonts/Kalivo-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #444;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}